<a href="https://colab.research.google.com/github/deepak-kannan7/Cricket-Data-Analysis/blob/main/Top10T20Players.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
data = [
    ['Player Name', 'Runs Scored', 'Strike Rate'],
    ['Virat Kohli', '4008', '137.96'],
    ['Rohit Sharma', '3853', '139.24'],
    ['Martin Guptill', '3531', '135.70'],
    ['Babar Azam','3485','128.40'],
    ['Paul Stirling','3275','135.89'],
    ['Aaron Finch','3120','142.53'],
    ['David Warner','2894','141.30'],
    ['Mohammad Rizwan','2797','127.30'],
    ['Jos Buttler','2713','144.07'],
    ['Mohammad Hafeez','2514','122.03']
]
filename = 'top10T20.csv'
with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(data[0])
    writer.writerows(data[1:])
print(f'{filename} created successfully.')

top10T20.csv created successfully.

In [5]:
#Sort by Strike Rate
import csv
filename = 'top10T20.csv'
data = []
with open(filename, mode='r') as file:
    reader = csv.reader(file)
    data = list(reader)
sorted_data = sorted(data[1:], key=lambda x: float(x[2]), reverse=True)
with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(data[0]) 
    writer.writerows(sorted_data)
print(f'{filename} sorted by strike rate.')

top10T20.csv sorted by strike rate.

In [6]:
import pandas as pd
df=pd.read_csv("top10T20.csv")
df.head()

    Player Name  Runs Scored  Strike Rate
0   Jos Buttler         2713       144.07
1   Aaron Finch         3120       142.53
2  David Warner         2894       141.30
3  Rohit Sharma         3853       139.24
4   Virat Kohli         4008       137.96